.stock {
  background: #2b2833;
  padding: 10px;
  position: relative;
}

.stock > h4 {
  padding-right: 30px;
  text-transform: uppercase;
}

.stock > h4, .stock > p {
  margin: 10px 0;
  color: #eee;
  word-wrap: break-word;
}

.stock > p {
  color: #aaa;
  font-size: 15px;
}

.removeStockBtn {
  position: absolute;
  top: 15px;
  right: 12px;
  color: #2b2833;
  background: #eee;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition-property: background;
  transition-duration: .2s;
  border: none;
  font-size: 15px;
}

.removeStockBtn:hover {
  cursor: pointer;
  background: #ccc;
}

.stockWrapper {
  transition-property: all;
  transition-duration: .3s;
  overflow: hidden;
  max-height: 300px;
  transform: scale(1);
}

.stockWrapper.hide {
  animation: removed-item-animation .8s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
   /*transform origin is moved to the bottom left corner*/
   transform-origin: 100% 100%;
}

@keyframes removed-item-animation {
  0% {
      opacity: 1;
      transform: rotateZ(0);
  }

  100% {
      opacity: 0;
      transform: translateY(300px) rotateZ(-100deg);
  }
}
