/*for bootstrap-grid*/
html * {
  box-sizing: border-box;
  font-family: 'Courier Prime', monospace;
}

body {
  background: #242128;
  margin: 0;
  color: #ccc;
}

#root {
  overflow: auto;
}

.row {
  margin: 0;
}

.bodyWrapper {
  margin: 20px;
}
