#panel {
  color: #2b2833;
  position: fixed;
  background: #eee;
  width: 260px;
  height: 100vh;
  overflow-y: scroll;
  top: 0;
  right: 0;
  transform: translateX(260px);
  transition-property: visibility;
  transition-duration: .6s;
  padding: 0 20px;
  visibility: visible;
  overflow-x: hidden;
}

#panel.is-active {
  visibility: visible;
}

h3.panel {
  text-align: center;
  padding: 0 0px 18px 0px;
  border-bottom: solid 2px;
}
