#panel {
  color: #2b2833;
  position: fixed;
  background: #eee;
  width: 260px;
  height: 100vh;
  overflow-y: auto;
  top: 0;
  right: 0;
  transform: translateX(260px);
  transition-property: visibility;
  transition-duration: .6s;
  padding: 0 20px;
  visibility: visible;
  overflow-x: hidden;
}

#panel.is-active {
  visibility: visible;
}

h3.panel {
  text-align: center;
  padding: 0 0px 18px 0px;
  border-bottom: solid 2px;
}

.loader {
    border: 2px solid #aaa;
    border-top: 2px solid #2b2833;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
