
@font-face {
    font-family: 'Courier Prime';
    src: url('courier_prime-webfont.woff2') format('woff2'),
         url('courier_prime-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Courier Prime';
    src: url('courier_prime_bold-webfont.woff2') format('woff2'),
         url('courier_prime_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Courier Prime';
    src: url('courier_prime_bold_italic-webfont.woff2') format('woff2'),
         url('courier_prime_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'Courier Prime';
    src: url('courier_prime_italic-webfont.woff2') format('woff2'),
         url('courier_prime_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
